@model TujaViewModels
    <h1>Ma vue partielle</h1>
    <div class="_statuto">
        <span id="hoho1"> path = @Model.path</span>
        <br />
        <label id="clickJson">Click Json</label>
        <label id="clickHtml">Click Html</label>
        <label class="tujaMessage"></label>
    </div>
    <div class="clickHtml">

    </div>